@tailwind base;
@tailwind components;
@tailwind utilities;

/* components layer  */
@layer components {
  .btn {
    @apply px-4 py-1 border rounded-full  hover:border-transparent focus:outline-none focus:ring-2 focus:ring-offset-2;
  }

  .btn-purple {
    @apply border-purple-200 text-purple-500 dark:text-purple-300 hover:text-white hover:bg-purple-600  focus:ring-purple-600;
  }

  .btn-green {
    @apply border-green-200 text-green-500 dark:text-green-300 hover:text-white hover:bg-green-600   focus:ring-green-600;
  }
}

/* base layer */
@layer base {
  h1 {
    @apply text-2xl;
  }
}

@layer utilities {
  .text-small-g {
    font-size: 12px;
    color: gray;
  }
}

/* variant  */
@variants hover {
  .my-rotate {
    transform: scale(1.2);
    transition: 0.5s;
  }
}
