<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn partials @use and @forward</title>
  </head>
  <link rel="stylesheet" href="/css/main.css" />
  <body>
    <header>SASS partials Learning and @use and @forward</header>
    <main>
      <h3>About</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quas ea
        voluptatum laboriosam expedita nihil odit, nulla ab nisi, quae suscipit!
        Accusamus ipsum, ratione optio sequi sed deserunt! Fugiat, eos?
      </p>
    </main>
  </body>
</html>
